/* Colors */

:root {
    brand.base: #333;
    --secondary-color: #575757;
    --accent-color: #aaa;
    --background-color: #fff;
    --text-color: #000;
}

/* Typography */
body {
    font-family: 'Arya', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: var(brand.base);
}

h2 {
    font-size: 1.5rem;
    line-height: normal;
    color: var(brand.base);
    line-height: 1.5rem;
    margin-top: rem;
    margin-bottom: 0.25rem;
}

b1 {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 2%;
    color: var(brand.base);
    margin-top: 0rem;
    margin-bottom: -1rem; 
}


s1 {
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: 2%;
    color: var(--accent-color);
    margin-top: -0.5rem; 
    margin-bottom: 1.5rem;
}

p {
    font-size: 1rem;
    letter-spacing: 2%;
    color: var(brand.base);
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
}

s {
    font-size: 1rem;
    color: var(--accent-color);

}
/* Utility Classes */
.text-center {
    text-align: left;
}

.margin-bottom {
    margin-bottom: 1.25rem; /* 20px / 16 = 1.25rem */
}
