/* Reset margins and padding for side menu and list */
.side-menu {
    width: 22rem; /* Adjust width as needed */
    background-color: var(--background-color);
    color: var(brand.base);
    padding: 2rem;
    border-right: 1px solid var(--accent-color);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow-y: auto;
}

.info {
    margin-bottom: 1rem;
}
.side-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; /* Ensure no default list styles */
}

.side-menu ul li {
    margin-bottom: 4px; /* Space between list items */
}

.side-menu ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(brand.base); /* Default text color */
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    box-sizing: border-box;
}

.side-menu ul li a:hover,
.side-menu ul li a.active {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    /* padding: 1rem; Increased padding on hover */
}

.side-menu ul li a img {
    filter: brightness(0) saturate(100%) invert(20%) sepia(10%) saturate(2076%) hue-rotate(86deg) brightness(92%) contrast(95%) !important;
}

.side-menu ul li a:hover img,
.side-menu ul li a.active img {
    filter: brightness(0) saturate(100%) invert(93%) sepia(93%) saturate(27%) hue-rotate(189deg) brightness(106%) contrast(106%) !important;
}

/* Ensure content area does not overlap with side menu */
.content {
    margin-left: 22rem; /* Offset by the width of the side menu */
    padding: 1rem;
    padding-left: 4rem;
    box-sizing: border-box; /* Include padding in the width */
    overflow-y: auto;
    height: 100vh; /* Full viewport height */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    .side-menu {
        transform: translateX(-100%);
        width: 100vw; /* Full width on small screens */
    }

    .content {
        /* margin-left: 0; Reset margin for smaller screens */
        margin: auto;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 1rem;
        left: 1rem;
        font-size: 2rem;
        background: none;
        border: none;
        color: var(brand.base);
        cursor: pointer;
        z-index: 1000;
    }
}

.hamburger {
    display: none;
}

.side-menu.active {
    transform: translateX(0);
}
